body{
  background: url("paper.jpg") no-repeat center center fixed;
  font-family: Helvetica, sans-serif;
  margin-left:25px;
  margin-right:25px;
}
h1,h2,h3,h4,h5,h6{
  font-family: Oldtown, fantasy;
  font-weight:600;
  margin: 40px;
  text-align: center;
}
h2{
  font-size:36px;
}
pre{
  display: block;
  margin: auto;
  text-align:center;
}

p{
  margin-top: 1em;
  margin-bottom: 1em;
}

img{
  max-width: 350px;
  max-height: 600px;
  border: 3px solid #000000;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.fig{
  display:inline;
}